.column {
  float: left;
  max-width: 30%;
  margin: 1%;
}

img {
  width: 100%;
}

.column p {
  color: blue;
}

.column img {
  width: 100%;
  border: 5px solid red;
}

.header {
  text-align: center;
  font-family: sans-serif;
  color: lightblue;
  background-color: gray;
}

.header h2 {
  color: darkred;
}

.list1 {
  width: 200px;
  margin: 10px;
  text-align: left;
  border: ;
}

#id1 {
  display: none;
}
#id2  {
  display: block;
}

#darkTheme {
  background-color: black;
  color: gainsboro;
  display: none;
}

@media screen and (max-width: 777px) {
  body {
    background-color: lightblue;
  }
  .column {
    float: none;
    width: 95%;
    margin: 10px;
    max-width: 100%;
  }
  .column img {
    width: 100%;
    border-width: thick;
    border-radius: 10px;
    border-color: blue;
    border-style: double;
  }

  #id1  {
    display: block;
  }

  #id2 {
    display: none;
  }

}
